<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        .showPage {
            display: block;
        }
        .hidePage {
            display: none;
        }
    </style>
</head>
<body>
<div id="mainBoardPage" class="showPage">
    <h2>Welcome to <%= userid %>'s board!</h2>
    <table id="boardTable" width="100%" border="1">
        <tr>
            <th>number</th>
            <th>title</th>
            <th>text</th>
            <th>EDIT</th>
            <th>DELETE</th>
        </tr>
        <% data.forEach(function (article) {%>
            <tr>
                <td><%= article.number %></td>
                <td><%= article.title %></td>
                <td><%= article.content %></td>
                <td>
                    <input type="button" id="edit<%=article.number%>" value="edit">
                </td>
                <td>
                    <input type="button" id="delete<%=article.number%>" value="delete">
                </td>
            </tr>
        <% }); %>
    </table>
    <input type="button" onclick="showCreatePage()" value="create">
    <form action="/user" method="get">
        <input type="submit" id="goback" name="goback" value="go back to main page">
    </form>
</div>
<div id="createBoardPage" class="hidePage">
    <h1><%= title %></h1>
    <p>Create Article <%=userid%>!</p>
    <table id="createTable">
        <tr>
            <td><label>Title</label></td>
            <td><input type="text" id="createTitle" name="title"></td>
        </tr>
        <tr>
            <td><label>Content</label></td>
            <td><input type="text" id="createContent" name="content"></td>
        </tr>
    </table>
    <input type="submit" onclick="postCreateData()" value="Done">
    <input type="submit" onclick="showMainPage()" value="go back to board">
</div>
<div id="editBoardPage" class="hidePage">
    <h1><%= title %></h1>
    <p>Create Article <%=userid%>!</p>

    <table id="editTable">
        <tr>
            <td><label>Previous Title</label></td>
            <td><label id="prevTitleLabel">None</label></td>
        </tr>
        <tr>
            <td><label>Previous content</label></td>
            <td><label id="prevContentLabel">None</label></td>
        </tr>
        <tr>
            <td><label>Title</label></td>
            <td><input type="text" name="title" id="editTitle"></td>
        </tr>
        <tr>
            <td><label>Content</label></td>
            <td><input type="text" name="content" id="editContent"></td>
        </tr>
    </table>
    <input type="submit" id="editDone" onclick="postEditData()" value="Done">
    <input type="submit" onclick="showMainPage()" value="go back to board">
</div>
<script type="text/javascript" src="boardScript.js"></script>
</body>
</html>

