<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        .showPage {
            display: block;
        }
        .hidePage {
            display: none;
        }
    </style>
</head>
<body>
<div id="mainBoardPage" class="showPage">
    <h2>Welcome to <%= userid %>'s board!</h2>
    <table id="boardTable" width="100%" border="1" class="<%=userid%>">
        <tr>
            <!--<th>number</th>-->
            <th>title</th>
            <th>content</th>
            <!--<th>detail</th>-->
            <th>EDIT</th>
            <th>DELETE</th>
        </tr>
        <% data.forEach(function (article) {%>
            <tr>
                <td class="<%= article._id%>"><%= article.title %></td>
                <td class="<%= article._id%>"><%= article.content %></td>
                <td class="<%= article._id%>"><input type="button" id="edit<%=article._id%>" value="edit"></td>
                <td class="<%= article._id%>"><input type="button" id="delete<%=article._id%>" value="delete"></td>
            </tr>
        <% }); %>
    </table>
    <input type="button" onclick="showCreatePage()" value="create">
    <form action="/user" method="get">
        <input type="submit" id="goback" name="goback" value="go back to main page">
    </form>
</div>
<div id="articlePage" class="hidePage">
    <span>Edit Article!</span>
    <form id="articleForm" enctype="multipart/form-data" method="post">
        Title<br>
        <input type="text" name="title" readonly="readonly"><br>
        Content<br>
        <input type="text" name="content" readonly="readonly"><br>
        <input type="text" name="image" readonly="readonly"><br>
        <!--<span id="articleTitle" name="title" class="title"></span><br>-->
        <!--<span id="articleContent" name="content" class="content"></span><br>-->
        <!--<span id="articleImageText" name="image" class="image"></span><br>-->
        <img id="articleImage" width="0" height="0"><br>
        <input type="button" onclick="articleToEditPage()" value="edit contents"><br>
        <input type="button" onclick="articleToDelete()" value="delete contents"><br>
        <input type="button" onclick="showMainPage()" value="go back to main page"><br>
    </form>
</div>
<div id="createBoardPage" class="hidePage">
    <h1><%= title %></h1>
    <span>Create Article <%=userid%>!</span>
    <form id="createForm" enctype="multipart/form-data" method="post">
        Title<br>
        <input type="text" name="title"><br>
        Content<br>
        <input type="text" name="content"><br>

        <span id="createImageText"></span><br>
        <img id="createImage" width="0" height="0"><br>
        <input type="file" name="createPageInputImage" id="createImgInput" multiple /><br>
        <input type="button" name="submit" id="createFormSubmit" value="submit"/>
    </form>
    <input type="submit" onclick="showMainPage()" value="go back to board">
</div>
<div id="editBoardPage" class="hidePage">
    <span>Edit Article <%=userid%>!</span>
    <form id="editForm" enctype="multipart/form-data" method="post">
        Title<br>
        <input type="text" name="title"><br>
        Content<br>
        <input type="textarea" name="content"><br>
        <input type="text" name="image" readonly="readonly"><br>
        <img id="editImage" class="" width="0" height="0"><br>
        <input type="file" name="editPageInputImage" id="editImgInput" multiple /><br>
        <input type="button" name="submit" id="editFormSubmit" value="submit"/>
    </form>
    <input type="submit" onclick="showMainPage()" value="go back to board">
</div>
<script type="text/javascript" src="boardScript.js"></script>
</body>
</html>

